h1{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.row{
    background-color: bisque;
    min-height: 50px;
}


.jumbotron{
    min-height: 900px;
    background-color: aqua;
}


.portfolio{
    min-height: 900px;
}


.aboutme{
    min-height: 900px;
    background-color: aqua;
}


.contactme{
    min-height: 900px;
    
}

.final-info{
    min-height: 300px;

}

footer{
    min-height: 100px;
    background-color: rgb(80, 79, 79);
}

[class^='col']{
    border: 2px dashed blue;
    min-height: 50px;
}