


.row{
    background-color: bisque;
    min-height: 50px;
}


header{
    min-height:100px;
    background-color: gray;
}


.jumbotron{
    min-height: 900px;
    background-color: aqua;
}


.portfolio{
    min-height: 900px;
}


.aboutme{
    min-height: 900px;
    background-color: aqua;
}


.contactme{
    min-height: 900px;
    
}

.final-info{
    min-height: 300px;
    background-color: gray;

}

footer{
    min-height: 100px;
    background-color: rgb(80, 79, 79);
}

[class^='col']{
    border: 2px dashed blue;
    min-height: 50px;
}