h1{
    font-weight: bold;
    font-size: 2rem;
}

h2{
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
}


.bg-white{
    background-color: white;
}



.bg-black{
    background-color: black;
}


.divider{
    gap: 10px;

}

.line{
    height: 5px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
}


.row{
    min-height: 50px;
}


.jumbotron{
    background-color: aqua;
    color: white;
    gap: 50px;
}


.portfolio{
    min-height: 900px;
}


.aboutme{
    background-color: rgb(11, 192, 158);
    color: white;
    text-decoration: none;
}

.download-button-padurariu{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}


.contactme{
    min-height: 900px;
    
}

.final-info{
    min-height: 300px;

}

footer{
    min-height: 100px;
    background-color: rgb(80, 79, 79);
}

[class^='col']{
    border: 2px dashed blue;
    min-height: 50px;
}